DATABASE_URL="postgresql://root:root@localhost:5432/vb_bmx"
STRIPE_SECRET_KEY="sk_test_51JaG7KGaJHiI9Jq6FsxD402jo5gnAQsNfbCtgSNe9TUCDTimYXKJ4HuhHwKBCYU54NhrgXiyK20Zmwkioe02oIIo0084SEkClm"
STRIPE_PUBLIQUE_KEY="pk_test_51JaG7KGaJHiI9Jq6BPHAL9hcyx4ddamiyoTCMH4jkXKKkllSorRSC3QVXuSyfw5QSSecsMviwPzmiDhzU88u8sOr00SJHxX2wU"

LOCAL_FRONT_URL="http://localhost:3000"

TOKEN_SECRET="TOKEN"